:root {
  --bright-blue: hsl(220, 98%, 61%);
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: rgb(37, 39, 60);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bright-blue: 220 98% 61%;
    --very-light-gray: 0 0% 98%;
    --very-light-grayish-blue: 236 33% 92%;
    --light-grayish-blue: 233 11% 84%;
    --dark-grayish-blue: 236 9% 61%;
    --very-dark-grayish-blue: 235 19% 35%;
    --dt-very-dark-blue: 235 21% 11%;
    --dt-very-dark-desaturated-blue: 235 24% 19%;
    --dt-light-grayish-blue: 234 39% 85%;
    --dt-light-grayish-blue-hover: 236 33% 92%;
    --dt-dark-grayish-blue: 234 11% 52%;
    --dt-very-dark-grayish-blue: 233 14% 35%;
    --dt-very-dark-grayish-blue2: 237 14% 26%;
  }

  html {
    font-family: "Josefin Sans", system-ui, sans-serif;
  }
}

.task:hover .close {
  opacity: 1;
}

.check {
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
}

.border-gradient.light:hover {
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
  border: 1px solid transparent;
  border-image-source: linear-gradient(white, white);
}

.border-gradient.dark:hover {
  background: linear-gradient(#25273c, #25273c) padding-box,
    linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
  border: 1px solid transparent;
  border-image-source: linear-gradient(white, white);
}

.border-gradient:hover .imgCheck {
  opacity: 0;
}
